lib/
obj/
CVS/
Data/
WebSite/
.tup
*/CVS/
*/*/CVS/
*/*/*/CVS/
*/*/*/*/CVS/
*/*/*/*/*/CVS/
*/*/*/*/*/*/CVS/
*/*/*/*/*/*/*/CVS/
*/*/*/*/*/*/*/*/CVS/
*/*/*/*/*/*/*/*/*/CVS/
*/*/*/*/*/*/*/*/*/*/CVS/
*/*/*/*/*/*/*/*/*/*/*/CVS/
*/*/*/*/*/*/*/*/*/*/*/*/CVS/
*/*/*/*/*/*/*/*/*/*/*/*/*/CVS/

.#*
*.sw*
*.exe
*.out
*.txt
*.bak



shared_libs
!libBitmapEngine.so
!libBitmapTreeMgr.so
!libIndexMgrJimos.so
!libQueryCacher.so
!libQueryEngine.so
!libQueryProc.so
!libSmartQuery.so
!centos

tags
src/tags
src/GetLine/getline.o
src/GetLine/testgl
src/GetLine/testgl.o
src/JQLParser/Parser.lex.cpp
src/JQLParser/Parser.output
src/JQLParser/Parser.tab.cpp
src/JQLParser/Parser.tab.hh
src/JQLParser/Parser.yy
src/JQLParser/location.hh
src/JQLParser/position.hh
src/JQLParser/stack.hh
src/JQLParser/Parser.tab.cc
src/Thrift/AosHadoopAPIService.cpp
src/Thrift/AosHadoopAPIService.h
src/Thrift/AosJimoAPI.cpp
src/Thrift/AosJimoAPI.h
src/Thrift/Jimo_constants.cpp
src/Thrift/Jimo_constants.h
src/Thrift/Jimo_types.cpp
src/Thrift/Jimo_types.h
src/Thrift/hadoop_constants.cpp
src/Thrift/hadoop_constants.h
src/Thrift/hadoop_types.cpp
src/Thrift/hadoop_types.h
src/ThriftSvrAPI/Hadoop_ServerSkeletons.cpp.gened
src/ThriftSvrAPI/Jimo_ServerSkeletons.cpp.gened
src/Tools/fperf
src/Tools/gendata
src/Tools/myping
src/ThriftDef/Jimo.thrift
src/JavaThrift/zykie/jimoapi/AosJimoAPI.java
src/SEServer/JQLClient/version.h
src/SEServer/JQLClient/mytmp

!Install/config_admin.txt
Install/port
Install/path
Install/workhome
Install/*-port
Install/datahome
Install/jimodb_setnopwd
Install/portgen
Install/jimodb


/Build (GNU)/

.cproject
.idea/
.project
.settings/
